* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.title {
    grid-area: title;
}

#help-icon {
    grid-area: help-icon;
    width: 50%;
    height: auto;
    background-color: white;
}

.siamese {
    grid-area: siamese;
}

.russian-blue {
    grid-area: russian-blue;
}

.bengal {
    grid-area: bengal;
}

.ragdoll {
    grid-area: ragdoll;
}

.ginger {
    grid-area: ginger;
}

.british-shorthair {
    grid-area: british-shorthair;
}

.birman {
    grid-area: birman;
}

.sphynx {
    grid-area: sphynx;
}

.somali {
    grid-area: somali;
}

.main-coon {
    grid-area: main-coon;
}

.abyssinian {
    grid-area: abyssinian;
}

.scottish-fold {
    grid-area: scottish-fold;
}

#info {
    grid-area: info;
    margin: 50px;
}

body {
    background-image: url('../images/background.webp');
    background-size: 100%;
    /* You can adjust the size of the pattern */

    height: 100vh;
    justify-items: center;
    align-items: center;
}

main {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    place-items: center;
    grid-template-areas:
        '. title title title help-icon'
        '. siamese russian-blue bengal .'
        'scottish-fold info info info ragdoll'
        'abyssinian info info info ginger'
        'main-coon info info info british-shorthair'
        '. somali sphynx birman .';
}

img {
    width: 100%;
    height: auto;
    transition: 0.1s ease-in-out;
    border-radius: 60px;
    /* how to make the outside box disappear */
}

img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.6));

}

#submit {
    background-color: rgb(69, 69, 69);
    color: white;
}

button {
    background: transparent;
    border: 0;
}

#help-screen {
    background-color: white;
    border: 1px solid black;

    p {
        margin: 10px;
    }
}

.hidden {
    display: none;
}