* {
    box-sizing: border-box;
}

.title {
    grid-area: title;
}

.siamese {
    grid-area: siamese;
}

.russian-blue {
    grid-area: russian-blue;
}

.bengal {
    grid-area: bengal;
}

.ragdoll {
    grid-area: ragdoll;
}

.ginger {
    grid-area: ginger;
}

.british-shorthair {
    grid-area: british-shorthair;
}

.birman {
    grid-area: birman;
}

.sphynx {
    grid-area: sphynx;
}

.somali {
    grid-area: somali;
}

.main-coon {
    grid-area: main-coon;
}

.abyssinian {
    grid-area: abyssinian;
}

.scottish-fold {
    grid-area: scottish-fold;
}

body {
    background-image: url('../images/background.webp');
    background-size: 100%;
    /* You can adjust the size of the pattern */

    height: 100vh;
    justify-items: center;
    align-items: center;
}

main {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;

    place-items: center;
    grid-template-areas:
        'title title title title title'
        '. siamese russian-blue bengal .'
        'scottish-fold . . . ragdoll'
        'abyssinian . . . ginger'
        'main-coon . . . british-shorthair'
        '. somali sphynx birman .';
}

img {
    width: 100%;
    height: auto;
    transition: 0.1s ease-in-out;
    border-radius: 60px;
    /* how to make the outside box disappear */
}

img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 4px 0.5px rgb(156, 156, 156);
    background-color: rgb(255 205 200);
}

button {
    visibility: hidden;

    img {
        visibility: visible;
    }
}